/*  your css code here. If applicable */
body{
	font-family: sans-serif;
}
div::before{
	content: "Before Element";
	color: rgb(255,0,0);
	font-size: 20px;
	font-weight: 600;
}
div::after{
	content: "After Element";
	color: rgb(255,0,0);
	font-size: 20px;
	font-weight: 600;
}