/*  your css code here. If applicable */
body{
	font-family: sans-serif;
}
p::before{
	content: "Before Element ";
	color: red;
	font-size: 20px;
	font-weight: 600;
}
p::after{
	content: " After Element";
	color: red;
	font-size: 20px;
	font-weight: 600;
}